<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<appSettings>
		<add key="configFilePath" value="C:\ProgramData\BackupManager" />
		<add key="backupScriptPath" value="C:\ProgramData\BackupManager\BackupManager.bat" />
		<add key="LoggerPath" value="C:\ProgramData\BackupManager\Logs" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>